@tailwind base;
@tailwind components;
@tailwind utilities;

.code {
    font-family: var(--font-khula);
    @apply bg-code;
    @apply px-2;
    @apply inline-block

}

@layer code {
    .javascript {
        color: #f7df1e;
    }
    .typescript {
        color: #007acc;
    }
    
    .node {
        color: #3f9381;
    }
    .react {
        color: #61dafb;
    }
    .nextjs {
        color: #c6c6c6;
    }
}

body {
    font-synthesis: none;
    font-feature-settings: "kern";
    text-rendering: optimizeSpeed;
    font-family: var(--font-matter-light);

}